$bg-main: #fff;
$bg-gray-light: #f5f8ff;
$bg-gray: #eaf0ff;
$bg-tag: #fff0e5;
$text-main: #142852;
$text-gray: #b4c2e0;
$accent: #4574ed;
$icons: #c8d6fb;
$red: #ff2020;
$white: #fff;

// hovers
$accent-hover: #2f2ce1;
$bg-tag-hover: #fc6009;
$text-gray-hover: #92a7d5;

// box-shadows
$bsh-main: 0 4px 8px 0 #e4ebfa;
$bsh-main-hover: 0 4px 8px 0 rgb(165 191 229 / 50%);

// overlay
$overlay-main: rgb(20 40 82 / 20%);
