@font-face {
    font-weight: normal;
    font-family: Involve;
    font-style: normal;
    src: url('assets/fonts/Involve-Regular.ttf') format('truetype'), url('assets/fonts/Involve-Regular.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-weight: 500;
    font-family: Involve;
    font-style: normal;
    src: url('assets/fonts/Involve-Medium.ttf') format('truetype'), url('assets/fonts/Involve-Medium.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-weight: 600;
    font-family: Involve;
    font-style: normal;
    src: url('assets/fonts/Involve-SemiBold.ttf') format('truetype'), url('assets/fonts/Involve-SemiBold.otf') format('opentype');
    font-display: swap;
}
