{
    "parser": "vue-eslint-parser",
    "parserOptions": {
        "parcer": "@typescript-eslint/parser",
        "sourceType": "module",
        "ecmaVersion": "latest"
    },
    "extends": ["eslint:recommended", "@nuxtjs/eslint-config-typescript", "plugin:prettier/recommended"],
    "rules": {
        "vue/multi-word-component-names": "off",
        "vue/no-unused-components": ["warn"],
        "vue/prop-name-casing": "off",
        "semi": ["error", "always"],
        "no-new": "off",
        "prettier/prettier": [
            "error",
            {
                "singleQuote": true,
                "tabWidth": 4,
                "printWidth": 140,
                "semicolons": true,
                "semi": true,
                "endOfLine": "auto",
                "bracketSpacing": true,
                "indent": "off",
                "trailingComma": "all"
            }
        ],
        "quotes": ["error", "single"]
    }
}
