{
    "$schema": "https://json.schemastore.org/prettierrc",
    "singleQuote": true,
    "tabWidth": 4,
    "printWidth": 140,
    "semicolons": true,
    "semi": true,
    "endOfLine": "auto",
    "bracketSpacing": true,
    "indent": "off",
    "trailingComma": "all"
}
